In [42]:
import pandas as pd

In [54]:
sales = pd.read_csv(r"D:\Data Science Project\sales.csv")
sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234.0,iPhone,1.0,700.00,2019-01-22,"944 Walnut St, Boston, MA 02215"
1,141235.0,Lightning Charging Cable,1.0,14.95,2019-01-28,"185 Maple St, Portland, OR 97035"
2,141236.0,Wired Headphones,2.0,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016"
3,141237.0,27in FHD Monitor,1.0,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001"
4,141238.0,Wired Headphones,1.0,11.99,2019-01-25,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9667,150497.0,20in Monitor,1.0,109.99,2019-01-26,"95 8th St, Dallas, TX 75001"
9668,150498.0,27in FHD Monitor,1.0,149.99,2019-01-10,"403 7th St, San Francisco, CA 94016"
9669,150499.0,ThinkPad Laptop,1.0,999.99,2019-01-21,"214 Main St, Portland, OR 97035"
9670,150500.0,AAA Batteries (4-pack),2.0,2.99,2019-01-15,"810 2nd St, Los Angeles, CA 90001"
9671,150501.0,Google Phone,1.0,600.00,2019-01-13,"428 Cedar St, Boston, MA 02215"

In [55]:
sales.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

#check for null value.

In [79]:
sales.isnull().sum()
sales.dropna(inplace = True)

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

#Check the datatypes of each column and convert to required types if needed.

In [80]:
sales.dtypes

Order ID                   float64
Product                     object
Quantity Ordered           float64
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

In [82]:
sales["Order ID"]= sales["Order ID"].astype(int)
sales["Quantity Ordered"]= sales["Quantity Ordered"].astype(int)
sales["Order Date"]= pd.to_datetime(sales["Order Date"])
sales.dtypes

Order ID                     int32
Product                     object
Quantity Ordered             int32
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

#Total sales for each product.

In [60]:
sales.groupby(["Product"])["Price Each"].sum()

Product
20in Monitor                   23427.87
27in 4K Gaming Monitor        121676.88
27in FHD Monitor               62695.82
34in Ultrawide Monitor        118936.87
AA Batteries (4-pack)           3985.92
AAA Batteries (4-pack)          3235.18
Apple Airpods Headphones      121200.00
Bose SoundSport Headphones     65593.44
Flatscreen TV                  72900.00
Google Phone                  189600.00
LG Dryer                       23400.00
LG Washing Machine             25200.00
Lightning Charging Cable       15936.70
Macbook Pro Laptop            399500.00
ThinkPad Laptop               215997.84
USB-C Charging Cable           13957.60
Vareebadd Phone                49600.00
Wired Headphones               12025.97
iPhone                        265300.00
Name: Price Each, dtype: float64

#Which city had highest number of sales?

In [102]:
sales[["Split1","City","Split2"]]= sales["Purchase Address"].str.split(pat=",", expand= True)
sales.drop(['Split1','Split2'],axis = 1, inplace = True)
sales.groupby(["City"])["Price Each"].sum().sort_values(ascending = False)

City
 San Francisco    431265.69
 Los Angeles      285754.49
 New York City    255846.72
 Boston           198896.90
 Atlanta          148527.53
 Dallas           142864.48
 Seattle          139540.56
 Portland         114310.51
 Austin            87163.21
Name: Price Each, dtype: float64

#Average sales for each product per day

In [70]:
sales.groupby(["Product"])["Price Each"].mean()

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64

In [103]:
sales

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City
0,141234,iPhone,1,700.00,2019-01-22,"944 Walnut St, Boston, MA 02215",Boston
1,141235,Lightning Charging Cable,1,14.95,2019-01-28,"185 Maple St, Portland, OR 97035",Portland
2,141236,Wired Headphones,2,11.99,2019-01-17,"538 Adams St, San Francisco, CA 94016",San Francisco
3,141237,27in FHD Monitor,1,149.99,2019-01-05,"738 10th St, Los Angeles, CA 90001",Los Angeles
4,141238,Wired Headphones,1,11.99,2019-01-25,"387 10th St, Austin, TX 73301",Austin
...,...,...,...,...,...,...,...
9667,150497,20in Monitor,1,109.99,2019-01-26,"95 8th St, Dallas, TX 75001",Dallas
9668,150498,27in FHD Monitor,1,149.99,2019-01-10,"403 7th St, San Francisco, CA 94016",San Francisco
9669,150499,ThinkPad Laptop,1,999.99,2019-01-21,"214 Main St, Portland, OR 97035",Portland
9670,150500,AAA Batteries (4-pack),2,2.99,2019-01-15,"810 2nd St, Los Angeles, CA 90001",Los Angeles
9671,150501,Google Phone,1,600.00,2019-01-13,"428 Cedar St, Boston, MA 02215",Boston

<bound method NDFrame.copy of 0       944 Walnut St
1        185 Maple St
2        538 Adams St
3         738 10th St
4         387 10th St
            ...
9667        95 8th St
9668       403 7th St
9669      214 Main St
9670       810 2nd St
9671     428 Cedar St
Name: Split1, Length: 9671, dtype: object>